{% macro message_form(message, template) %}

<h3>{{ message }}</h3>
<h3>Tell him / her! Anonymously.</h3>
<div class="row">
    <div class="form">
        <form action="sent.html" id="form_{{ template }}" method="POST" class="form-centered">
            <div class="input-group">
                <input type="email"
                       data-fv-emailaddress-message="The value is not a valid email address."
                       class="form-control"
                       placeholder="friend@email.com"
                       name="email_{{ template }}"
                       id="email_{{ template }}"
                       required />
                <span class="input-group-btn">
                    <button class="btn btn-default"
                            type="submit"
                            name="button_{{ template }}"
                            id="button_{{ template }}">
                        Send
                    </button>
                </span>
            </div><!-- /input-group -->
        </form>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<script type='text/javascript'>
    API_ENDPOINT = 'https://api.intervention.ninja/v1/emails'
    URL_REDIRECT_SENT = 'sent.html';
    URL_REDIRECT_SENT_GENERAL_ERROR = 'sent_general_error.html';
    URL_REDIRECT_SENT_LIMIT_EXCEEDED = 'sent_limit_exceeded.html';

    $(function () {
        $("#form_{{ template }}").submit(function(event){
            event.preventDefault()
            $("#preloader").css('visibility', 'visible');
            var email = $("#email_{{ template }}").val();
            var template = "{{ template }}";

            $.ajax({
                type: 'POST',
                url: API_ENDPOINT,
                data: JSON.stringify({email: email, template: template}),
                contentType: 'application/json; charset=utf-8',
                crossDomain: true,
                dataType: 'json',
                error: function(xhr, textStatus, errorThrown) {
                    $("#preloader").css('visibility', 'hidden');
                    window.location = URL_REDIRECT_SENT_GENERAL_ERROR;
                },
                success: function(data, textStatus, xhr) {
                    $("#preloader").css('visibility', 'hidden');
                    if (data.status_code == 429) {
                        window.location = URL_REDIRECT_SENT_LIMIT_EXCEEDED;
                    } else if (data.status_code != 200) {
                        window.location = URL_REDIRECT_SENT_GENERAL_ERROR;
                    } else {
                        window.location = URL_REDIRECT_SENT;
                    }
                }
            });
        });
    });
</script>

{% endmacro %}
