<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Intervention Ninja - See it, Say it, Sorted! Some things might be too difficult to say. Ninja can do that for you!">
    <meta name="author" content="Pavel Krayzel">

    <link rel="icon" type="image/png" href="static/favicon.ico">

    <title>Intervention Ninja - See it, Say it, Sorted!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="static/css/landing-page.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <h4>Some things might be too difficult to say. Intervention Ninja can do that for you!</h4>
    </div>
</nav>

<!-- Header -->
<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h3>Does your friend drink too much?</h3>
            <h3>Tell him / her! Anonymously.</h3>
            <div class="row">
                <div class="form">
                    <form action="/send" method="post" class="form-centered">
                        <div class="input-group">
                            <input type="text" class="form-control" value="friend@gmail.com" id="email_drink" name="email_drink" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Send</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

        </div>

    </div>

</header>


<div class="intro-content">
    <div class="container">
        <div class="intro-message">
            <h3>Do you have a colleague, who smells like sh*t?</h3>
            <h3>Tell him / her! Anonymously.</h3>
            <div class="row">
                <div class="form">
                    <form action="/send" method="post" class="form-centered">
                        <div class="input-group">
                            <input type="text" class="form-control" value="colleague@email.com" id="email_smell" name="email_smell" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Send</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

        </div>

    </div>

</div>

<!-- Footer -->
<footer>
    <div class="container">
        <p class="copyright text-muted small">Copyright &copy; Pavel Krayzel 2017. All Rights Reserved</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
