{% macro message_form(message, template) %}

<h3>{{ message }}</h3>
<h3>Tell him / her! Anonymously.</h3>
<div class="row">
    <div class="form">
        <form action="/send" id="form_{{ template }}" method="post" class="form-centered">
            <div class="input-group">
                <input type="email" data-fv-emailaddress-message="The value is not a valid email address."
                       class="form-control" placeholder="friend@email.com, coworker@gmail.com" name="email" required />
                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Send</button>
                            </span>
            </div><!-- /input-group -->
            <input type="hidden" name="template" value="{{ template }}" />
        </form>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

{% endmacro %}
