{% macro message_form(message, template) %}

<h3>{{ message }}</h3>
<h3>Tell him / her! Anonymously.</h3>
<div class="row">
    <div class="form">
        <form action="sent.html" id="form_{{ template }}" method="post" class="form-centered">
            <div class="input-group">
                <input type="email"
                       data-fv-emailaddress-message="The value is not a valid email address."
                       class="form-control"
                       placeholder="friend@email.com"
                       name="email_{{ template }}"
                       id="email_{{ template }}"
                       required />
                <span class="input-group-btn">
                    <button class="btn btn-default"
                            type="submit"
                            name="submitButton_{{ template }}"
                            id="submitButton_{{ template }}">
                        Send
                    </button>
                </span>
            </div><!-- /input-group -->
        </form>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<script type='text/javascript'>
    /* attach a submit handler to the form */
    API_ENDPOINT = 'https://mj43t15wd5.execute-api.eu-west-1.amazonaws.com/prod/intervention-ninja-email'
    URL_REDIRECT_SENT = 'sent.html'
    URL_REDIRECT_SENT_GENERAL_ERROR = 'sent_general_error.html'
    URL_REDIRECT_SENT_LIMIT_EXCEEDED = 'sent_limit_exceeded.html'

    $("#form_{{ template }}").submit(function(event) {
        /* stop form from submitting normally */
        event.preventDefault();

        $("#preloader").css('visibility', 'visible');
        var $form = $( this );
        var email = $("#email_{{ template }}").val()
        var template = "{{ template }}"

        $.ajax({
            type: 'POST',
            url: API_ENDPOINT,
            data: JSON.stringify({email: email, template: template}),
            contentType: 'application/json; charset=utf-8',
            crossDomain: true,
            dataType: 'json',
            error: function(xhr, textStatus, errorThrown) {
                $("#preloader").css('visibility', 'hidden');
                location.href = URL_REDIRECT_SENT_GENERAL_ERROR
            },
            /**
             * A function to be called if the request succeeds.
             */
            success: function(data, textStatus, xhr) {
                $("#preloader").css('visibility', 'hidden');
                if (data.status_code == 429) {
                    location.href = URL_REDIRECT_SENT_LIMIT_EXCEEDED
                } else if (data.status_code == 200) {
                    location.href = URL_REDIRECT_SENT
                } else {
                    location.href = URL_REDIRECT_SENT_GENERAL_ERROR
                }
            }
        })
    });
</script>

{% endmacro %}
